<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251" />
    <h1>Add User</h1>
</head>
<body>
<form th:action="@{/add}" method="post">
    <p><label for="firstName">name</label></p>
    <p><input type="text" id="firstName" name="firstName" required></p>

    <p><label for="lastName">lastName</label></p>
    <p><input type="text" id="lastName" name="lastName" required></p>

    <p><label for="age">age</label></p>
    <p><input type="number" id="age" name="age" required></p>

    <p><label for="mail">mail</label></p>
    <p><input type="text" id="mail" name="mail" required></p>
    <p>
        <input type="submit" value="add">
    </p>
</form>
</body>
</html>